@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Lexend, sans-serif;
}

.lexend {
  font-family: Lexend, sans-serif;
  font-weight: 400;
  font-style: normal;
}
 
body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: #3A3226;
  transform: translateY(40px);
  filter: blur(10px);
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}